---
version: "3"

services:
  flask-app:
    build:
      context: ./
      dockerfile: ./Dockerfile
    image: jyl2027/hurricane-api:latest
    ports:
      - "5000:5000"
    command: ["python", "api.py"]
